body{
    /*background-color: #303030;*/
}

.navbar{
    margin-bottom: 0;
}

#section1{
    background-image: url("../img/ipad-img-3ce0e5a0e0e099ddfd9487548b155281.jpg");
    width: 100%;
    height: 700px;
    background-size: cover;
}

#section1 h1{
    font-size: 56px;
    color: #FFFEF5;
}

#section1 h3{
    color: #FFFEF5;
}

#section1 .row{
    margin-top: 150px;
}

#section2{
    background-image: url("../img/badge-pattern-466bb5be2f2c434c454f973721b7a281.png");
    background-repeat: repeat;
    width: 100%;
    height: 300px;
    background-size: 50%;
}

#section2 .row:first-child{
    margin-top: 100px;
}

#player_page .row:first-child{
    margin-top: 100px;
}

#player{
    background-color: #303030;
    height: 360px;
}

#comments{
    background-color: #3EE3A6;
    height: 360px;
}

.sprite {
    background: url('../img/Record-Button-icon.png') no-repeat 1px -1px;
    width: 26px;
    height: 28px;
}

.btn.btn-default.btn-md.controls, .dropdowns{
    position: relative;
    top: 0px;
    margin-left: 10px;
}

#record-btn {
    width: 35px;
    height: 35px;
}


.btn.btn-default.btn-md.controls:nth-child(5){
    margin-right: 305px;
}

#seek-bar{
    width: 100%;
    height: 5px;
    background-color: red;
    margin-bottom: 5px;
}

#seek-bar-btn {
    position: absolute;
    top: 355px;
}

#comment-input {
    position: relative;
    top: 250px;
}